/*
Fonts
*/

/* 
Variables
*/
:root{
    /* Colors */
    --ColorWhite: #ffffff;
    --ColorBGMain: #f6f8fe;
    --ColorGrey: #d8dde8;
    --ColorYellow: #faeecf;
    --ColorPink: #f2d0de;
    --ColorBlue: #96baec;
    /* BTN Colors */
    --FontColorBlack: #0d0c21;
    --FontColorDark: #777b80;
    --FontColorLight: #cdcfd4;
    --FontColorWhite: #ffffff;
    --FontColorPink: #d85888;
    /* Font Colors */
    --BtnColorPrimary: #f2d0de;
    --BtnColorSecondary: #faeecf;
}

/* 
Globals
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
}
body {    
    background: var(--ColorBGMain);   
}
.section {
    width: 100vw;
    min-height: 100vh;
}
.main-sect{
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
}
.section-title {
    text-align: center;
    font-size: 1.55rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 1.5rem;
    color: var(--FontColorBlack);
}
.section-title-underline {
    width: 100%;
    height: 1px;
    background-color: var(--ColorGrey);
    opacity: 0.7;
    margin:0 auto;    
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.formBtn {
    outline: none;
    border: none;
    background-color: var(--ColorYellow);
    border-radius: 0.25rem;
    padding: 0.65rem 1.1rem;
    font-size: 1.1rem;
    cursor: pointer;
}
.formBtn:hover {
    box-shadow: 0px 2px 5px rgba(50,50,50,0.2);
}
.cancelBtn {
    background-color: var(--ColorPink);
}


/***************************** 
******** Login Screen ********
******************************/
.login-sect {
    height: 100vh;
}
.loginElements-center {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.login-formContainer > form {
    background: var(--ColorWhite);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-radius: 1.3rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-formTitle {
    text-align: center;
    color: var(--ColorWhite);
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: var(--ColorBlue);  
    border-top-right-radius: 1.3rem;
    border-top-left-radius: 1.3rem;
    padding: 2rem 0rem;
}
.login-formContent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 0rem;
    margin-bottom: 1rem;
    width: 25rem;
}
.login-formInputs{
   margin-top: 2rem;
}
.login-singleInput {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-singleInput > input {
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: var(--ColorPink);
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 1rem;
}
.login-singleInput > input:focus {
    border-color: var(--ColorBlue);
}
.login-formButtons{
   align-items: center;
   margin-bottom: 2.5rem;
}

/***************************** 
********* Navigation *********
******************************/
.navigationContainer {
    width: 100%;
    height: 5rem;
    background-color: var(--ColorWhite);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.navigationCenter {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logoContainer{
    letter-spacing: 2px;
    text-transform: uppercase;
}
.nav-links {
    display: flex;    
}
.nav-singleLink {
    margin-left: 1rem;
    letter-spacing: 0.85px;
}
.nav-linkActivo {
    color: var(--ColorBlue);
    font-weight: bold;      
}

/***************************** 
******** Inicio Page ********
******************************/
.hab-welcomeSect {
    text-align: center;
    font-size: 0.85rem;
    padding-top: 1rem;    
    margin-bottom: 4rem;
    letter-spacing: 1.1px;
}
.hab-welcomeSect > h1 > span {
    color: var(--FontColorDark);
    font-weight: bold;
}
.hab-cardsContainer {
    width: 90%;
    margin: 0 auto;
    margin-top: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hab-cardContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    width: 45rem;    
    border-radius: 1rem;
    box-shadow: 0px 4px 9px rgba(0,0,0,0.25);
    margin-bottom: 2rem;
}
.hab-cardLeft{
    width: 18rem;
    height: 100%;
}
.hab-cardLeft >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.hab-cardRight{
    background: var(--ColorWhite);
    width: 100%;
    height: 100%;
     border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.hab-cardRightCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hab-cardRight-title {
    margin-bottom: 2.3rem;
}
.hab-cardRight-title > p {
    color: var(--FontColorLight);
    letter-spacing: 1px;
}
.hab-cardRight-title > h3 {
    color: var(--FontColorBlack);
    font-size: 1.8rem;
    letter-spacing: 1.3px;
    text-align: center;
    padding: 0.3rem 0rem;
}
.hab-cardRight-title > h6 {
    text-align: right;
    color: var(--FontColorDark);
    font-size: 1rem;
    letter-spacing: 1.2px;
}
.hab-cardRight-info {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}
.hab-cardRight-info > p {
    letter-spacing: 1.1px
}
.hab-cardRight-info > span {
    color: var(--FontColorPink);
    letter-spacing: 1.2px;
}

/***************************** 
********** Reservas **********
******************************/
.res-formContainer{
    display: grid;
    place-items: center;
    margin-top: 2rem;
}
.res-formContainer > form {
    background: var(--ColorWhite);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-radius: 1.3rem;
    width: 50rem;
}
.res-formCenter {
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0rem;
}
.res-formTitle {
    color: var(--FontColorDark);
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 1rem;
}
.res-formTitle > p {
    font-size: 0.95rem;
    letter-spacing: 1px;
    margin-top: 0.15rem;
    color: var(--FontColorLight);
}
.res-formSection{
    margin-bottom: 2.5rem;
}
.res-formInputsContainer{
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
}
.res-facturacionContainer {
    width: 55%;    
}
.res-singleInput {
    font-size: 1.5rem; 
    position: relative;
}
.res-factSingleInput{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.res-factSingleInput > input {
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: var(--ColorPink);
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 1rem;
}

.res-factSingleInput > input:focus{
    border-color: var(--ColorBlue);
}
.res-factSingleInput > input::placeholder {
    color: lightgray;
    letter-spacing: 2px;
    font-size: 1rem;
    text-align: center;
}

/* Hab TOP */
.res-formInputsTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.res-fechasContainer{
    text-align: center;
    font-size: 1.5rem;    
}
.res-formBtnContainer {
    margin-top: 2rem;
    text-align: center;
}

/* Date Picker */
.datePickerBtnsContainer{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.datePickerBtn{
    outline: none;
    border: none;
    background-color: var(--ColorBlue);
    border-radius: 0.25rem;
    padding: 0.5rem 0.2rem;
    text-align: center;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.datePickerBtn::placeholder {
    text-align: center;
    color: white;
}


/***************************** 
******* Empleados Page *******
******************************/
.emp-mainCenter {
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
}
.emp-currentSession{
    text-align: center;
    font-size: 0.85rem;
    padding-top: 1rem;    
    margin-bottom: 1rem;
    letter-spacing: 1.1px;
}
.emp-currentSession > h1 > span {
    color: var(--FontColorDark);
    font-weight: bold;
}
.emp-addEmpContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ADD EMPLEADO FORM*/
.emp-addEmpHiddenForm {
    display: none;    
    place-items: center;
    margin-top: 2rem;
}
.emp-addEmpHiddenForm > form {
    background: var(--ColorWhite);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-radius: 1.3rem;
    width: 50rem;
}
.emp-addEmpFormBtns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin: 0 auto;
}
/*TABLE*/
.emp-tableContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.emp-tableContainer > table {
    width: 85%;
    text-align: center;
    box-shadow: 0px 4px 9px rgba(0,0,0,0.25);
    border-radius: 1rem;
    border-collapse: collapse;
    overflow: hidden;
    background-color: var(--ColorWhite);
}
.emp-tableContainer > table > thead {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.emp-tableContainer > table > thead > tr > th {
    background-color: var(--ColorWhite);
    padding: 1.5rem 0rem;
    font-size: 1rem;
    letter-spacing: 1px;
    border: 1px solid #dddddd;
}
.emp-tableContainer > table > tbody > tr > td{
    border: 1px solid #dddddd;
    padding: 1rem 0.2rem;
}
.emp-tableContainer > table > tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}
.emp-tableContainer > table > tbody > tr:hover {
    background-color: #dddddd;
}
.emp-tableIconsContainer{
    text-align: center;
}
.emp-tableIcon {
    width: 1.4rem;
    cursor: pointer; 
}

