/*
Fonts
*/

/* 
Variables
*/
:root{
    /* Colors */
    --ColorWhite: #ffffff;
    --ColorBGMain: #f6f8fe;
    --ColorGrey: #d8dde8;
    --ColorYellow: #faeecf;
    --ColorPink: #f2d0de;
    --ColorBlue: #96baec;
    /* BTN Colors */
    --FontColorDark: #17171B;
    --FontColorLight: #17171B;
    --FontColorWhite: #ffffff;
    /* Font Colors */
    --BtnColorPrimary: #f2d0de;
    --BtnColorSecondary: #faeecf;
}

/* 
Globals
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
}
body {    
    background: var(--ColorBGMain);   
}
.section {
    width: 100vw;
    height: 100vh;
}
.main-sect{
    padding-top: 5rem;
    width: 100%;
    height: 150vh;
}
.section-title {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/***************************** 
******** Login Screen ********
******************************/
.loginElements-center {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.login-formContainer > form {
    background: var(--ColorWhite);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-radius: 1.3rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-formTitle {
    text-align: center;
    color: var(--ColorWhite);
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: var(--ColorBlue);  
    border-top-right-radius: 1.3rem;
    border-top-left-radius: 1.3rem;
    padding: 2rem 0rem;
}
.login-formContent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 0rem;
    margin-bottom: 1rem;
    width: 25rem;
}
.login-formInputs{
   margin-top: 2rem;
}
.login-singleInput {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-singleInput > input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: var(--ColorGrey);
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 1rem;
}

.login-singleInput > input:focus {
    border-color: var(--ColorBlue);
}
.login-formButtons{
   align-items: center;
   margin-bottom: 2.5rem;
}
.formBtn {
    outline: none;
    border: none;
    background-color: var(--ColorYellow);
    border-radius: 0.25rem;
    padding: 0.65rem 1.1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

/***************************** 
********* Navigation *********
******************************/
.navigationContainer {
    width: 100%;
    height: 5rem;
    background-color: var(--ColorWhite);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.navigationCenter {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logoContainer{
    letter-spacing: 2px;
    text-transform: uppercase;
}
.nav-links {
    display: flex;    
}
.nav-singleLink {
    margin-left: 1rem;
    letter-spacing: 0.85px;
}
.nav-linkActivo {
    color: var(--ColorBlue);
    font-weight: bold;      
}




/***************************** 
******** Inicio Page ********
******************************/



/***************************** 
******** Login Screen ********
******************************/



